# Dossiers générés par Keil
# DebugConfig/ ici nécessaire au débug
Obj/
RTE/

# Profils et préférences Keil
Project.uvguix.*

# Le fichier 'Project.uvprojx' peut être renommé en .xml lors d'une compression et téléchargement via google drive 
Project.uvprojx.xml

# Fichiers générés par Keil
*.lst
*.scvd
